- page_title s_("UsageQuota|Usage")
- @content_class = "limit-container-width" unless fluid_layout

%h3.page-title
  = s_('UsageQuota|Usage Quotas')

.row
  .col-sm-6
    = s_('UsageQuota|Usage of resources across your projects').html_safe

.top-area.scrolling-tabs-container.inner-page-scroll-tabs
  %ul.nav.nav-tabs.nav-links.scrolling-tabs.separator.js-storage-tabs{ role: 'tablist' }
    %li.nav-item
      %a.nav-link#pipelines-quota{ data: { toggle: "tab", action: '#pipelines-quota-tab' }, href: '#pipelines-quota-tab', 'aria-controls': '#pipelines-quota-tab', 'aria-selected': true }
        = s_('UsageQuota|Pipelines')
    %li.nav-item
      %a.nav-link#storage-quota{ data: { toggle: "tab", action: '#storage-quota-tab' }, href: '#storage-quota-tab', 'aria-controls': '#storage-quota-tab', 'aria-selected': false }
        = s_('UsageQuota|Storage')
.tab-content
  .tab-pane#pipelines-quota-tab
    = render "namespaces/pipelines_quota/list",
      locals: { namespace: @namespace, projects: @projects }
  .tab-pane#storage-quota-tab
    #js-storage-counter-app{ data: { namespace_path: @namespace.full_path, help_page_path: help_page_path('user/group/index.md', anchor: 'storage-usage-quota-starter'), purchase_storage_url: purchase_storage_url, is_temporary_storage_increase_visible: temporary_storage_increase_visible?(@namespace).to_s } }
