- if issuable_sidebar[:supports_epic]
  - if issuable_sidebar[:features_available][:epics]
    - unless @issuable.labels.map(&:title).include?('incident')
      #js-vue-sidebar-item-epics-select{ data: { can_edit: can_admin_issue?.to_s, group_id: @project.group.id, issue_id: @issuable.id, epic_issue_id: @issuable.epic_issue&.id } }

  - else
    - unless @issuable.labels.map(&:title).include?('incident')
      = render 'shared/promotions/promote_epics'
